<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.jianzhimao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".splanwellcom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SelectIdentityActivity" />
        <activity android:name=".ActivityJinggang" />
        <activity android:name=".ActivityJobDetail" />
        <activity android:name=".Activity_chat"/>
        <activity android:name=".miaomission" />
        <activity android:name=".parttimetrip" />
        <activity android:name=".nearjob" />
        <activity android:name=".enrolljob" />
        <activity android:name=".me_more" />
    </application>

</manifest>